*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100%;
    background-color: #5F5F5F;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #e9e9e9
}
.juego {
    display: flex
}
p {
    font-size: 24px;
   padding: 20px 100px;
    text-align: center
}

h1{
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
}

#canvas {
    height: 800px;
    width: 800px;
  
    
}
.box-arrows {
    display: flex;
    justify-content: center;
    padding-top: 10px
}
.arrows{
    height: 150px;

}

#boards {
    padding-top: 30px;
}

.start-button {
    display: flex;
    justify-content: center;
    padding-top: 50px
}

.new-game {
    font-size: 30px;
    background-color: #982329;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px
}